<%= bootstrap_devise_error_messages! %>

<div class="card m-x-auto">

  <div class="card-header">
    <%= t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions') %>
  </div>

  <div class="card-block">
    <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, role: "form" }) do |f| %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control" %>
        </div>

        <%= f.submit t('.resend_confirmation_instructions', :default => 'Resend confirmation instructions'), class: "btn btn-primary" %>

    <% end %>
  </div>

  <div class="card-footer text-muted">
    <%= render "devise/shared/links" %>
  </div>

</div>