<form action="/search" method="GET">
<section class="dropdown_area">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control" data-size="5" name="make">
					<option value="">-- Select Make --</option>
					<% @makes = Lot.uniq.pluck(:make) %>
					<% @makes.each do | make | %>
					<% unless make.blank? %>
					<option <% if params[:make] == make %> selected <% end %> value="<%= make %>"><%= make %></option>
					<% end %>
					<% end %>
				</select>

				<select class="selectpicker form-control" data-size="5" name="color">
					<option value="">-- Select Color --</option>
					<% @colors = Lot.uniq.pluck(:color) %>
					<% @colors.each do | color | %>
						<% unless color.blank? %>
						<option <% if params[:color] == color %> selected <% end %> value="<%= color %>"><%= color %></option>
						<% end %>
					<% end %>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control" data-size="5" name="drive">
					<option value="">-- Select Drive --</option>
					<% @drives = Lot.uniq.pluck(:drive) %>
					<% @drives.each do | drive | %>
					<% unless drive.blank? %>
					<option <% if params[:drive] == drive %> selected <% end %> value="<%= drive %>"><%= drive %></option>
					<% end %>
					<% end %>
				</select>

				<select class="selectpicker form-control" data-size="5" name="has_keys">
					<option value="">-- Select Keys --</option>
					<% @keys = Lot.uniq.pluck(:has_keys) %>
					<% @keys.each do | has_keys | %>
					<option <% if params[:has_keys] == has_keys %> selected <% end %> value="<%= has_keys %>"><%= has_keys %></option>
					<% end %>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control" data-size="5" name="year">
					<option value="">-- Select Year -- </option>
					<% @years = Lot.uniq.pluck(:year) %>
					<% @years.each do | year | %>
					<option <% if params[:year] == year %> selected <% end %> value="<%= year %>"><%= year %></option>
					<% end %>
				</select>
				<select class="selectpicker form-control" data-size="5" name="state">
					<option value="">Select State</option>
					<% @states = Lot.uniq.pluck(:state) %>
					<% @states.each do | state | %>
					<option <% if params[:state] == state %> selected <% end %> value="<%= state %>"><%= state %></option>
					<% end %>
				</select>
			</div><!-- col-3 -->

			<div class="col-md-3 col-sm-6 col-xs-12">
				<button type="submit" class="search_btn">Search</button>
			</div><!-- col-3 -->
		</div><!-- row -->
	</div><!-- container -->
</section><!-- dropdown_area -->
<!-- Large modal -->

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<!-- Button trigger modal -->
			<button style="display: none;" type="button" class="small_btn filter_icon" data-toggle="modal" data-target=".bs-example-modal-lg" data-toggle="tooltip" title="Search">
			  	<i class=" fa fa-filter " aria-hidden="true"></i>
			</button>
			<!-- <div style="display: none;" class="small_btn filter_icon" data-toggle="modal" data-target=".bs-example-modal-lg"><i class=" fa fa-filter " aria-hidden="true"></i></div> -->
		</div>
	</div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" style="padding: 10px;">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">

				<select class="selectpicker form-control model_picker" data-size="5" name="make">
					<option value="">-- Select Make --</option>
					<% @makes = Lot.uniq.pluck(:make) %>
					<% @makes.each do | make | %>
					<% unless make.blank? %>
					<option <% if params[:make] == make %> selected <% end %> value="<%= make %>"><%= make %></option>
					<% end %>
					<% end %>
				</select>

				<select class="selectpicker form-control model_picker" data-size="5" name="color">
					<option value="">-- Select Color --</option>
					<% @colors = Lot.uniq.pluck(:color) %>
					<% @colors.each do | color | %>
						<% unless color.blank? %>
						<option <% if params[:color] == color %> selected <% end %> value="<%= color %>"><%= color %></option>
						<% end %>
					<% end %>
				</select>

			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				
				<select class="selectpicker form-control model_picker" data-size="5" name="drive">
					<option value="">-- Select Drive --</option>
					<% @drives = Lot.uniq.pluck(:drive) %>
					<% @drives.each do | drive | %>
					<% unless drive.blank? %>
					<option <% if params[:drive] == drive %> selected <% end %> value="<%= drive %>"><%= drive %></option>
					<% end %>
					<% end %>
				</select>

				<select class="selectpicker form-control model_picker" data-size="5" name="has_keys">
					<option value="">-- Select Keys --</option>
					<% @keys = Lot.uniq.pluck(:has_keys) %>
					<% @keys.each do | has_keys | %>
					<option <% if params[:has_keys] == has_keys %> selected <% end %> value="<%= has_keys %>"><%= has_keys %></option>
					<% end %>
				</select>
				
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker form-control model_picker" data-size="5" name="year">
					<option value="">-- Select Year -- </option>
					<% @years = Lot.uniq.pluck(:year) %>
					<% @years.each do | year | %>
					<option <% if params[:year] == year %> selected <% end %> value="<%= year %>"><%= year %></option>
					<% end %>
				</select>
				<select class="selectpicker form-control model_picker" data-size="5" name="state">
					<option value="">Select State</option>
					<% @states = Lot.uniq.pluck(:state) %>
					<% @states.each do | state | %>
					<option <% if params[:state] == state %> selected <% end %> value="<%= state %>"><%= state %></option>
					<% end %>
				</select>
			</div><!-- col-3 -->

			<div class="col-md-3 col-sm-6 col-xs-12">
				<button type="submit" class="search_btn">Search</button>
			</div><!-- col-3 -->
		</div><!-- row -->

    </div>
  </div>
</div>
</form>

<script type="text/javascript">
var width = $(window).width(), height = $(window).height();
var limit =$('.logo-nav').height() + $('.site-nav').height() + $('.banner').height();
if ((width >= 991)) {
$(function () {
	$(window).scroll(function () {
		var scrollval = $(window).scrollTop();
		if (scrollval >= limit) {
			//$(".dropdown_area").hide(1000);
			$(".small_btn").show(0.500);
		}else{
			//$(".dropdown_area").show(1000);
			$(".small_btn").hide(0.500);
		}
	});
});
} else {
	$(".dropdown_area").hide(0.500);
	$(".small_btn").show(0.500);
}
</script>