<%= render :partial => "shared/search" %>
<section class="dropdown_area" style="display: none;">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
		</div><!-- row -->
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
		</div><!-- row -->
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
		</div><!-- row -->
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
			<div class="col-md-3 col-sm-6 col-xs-12">
				<select class="selectpicker" data-size="5" >
					<option>Mustard1</option>
					<option>Ketchup</option>
					<option>Relish</option>
					<option>Mayonnaise</option>
					<option>Barbecue Sauce</option>
					<option>Salad Dressing</option>
					<option>Tabasco</option>
					<option>Salsa</option>
				</select>
			</div><!-- col-3 -->
		</div><!-- row -->
	</div><!-- container -->
</section><!-- dropdown_area -->
<section class="thumbnail_area">
	<div class="container">
		<div class="row">
			<% @lots.each do | lot | %>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="thumbnail">
					<img class="img-responsive" src="<%= thumbnail_large(lot.thumbnail) %>" >
					<div class="caption">
						<a href="/lots/<%= lot.lot_number %>" class="thumbnail-car-title" role="button"><%= lot.year %> <%= lot.make %> <%= lot.model_group %></a>
						<span>OH - COLUMBUS  - B / CD001</span>
						<span class="span-inline">Odometer: <%= number_with_delimiter(lot.odometer, :delimiter => ',') %></span>
						<span class="span-id">ID: <%= lot.lot_number %></span>
						<div class="price_wrapper">
							<div class="retail_price">
								<p>Retail Price</p>
								<span><%= number_to_currency(lot.est_retail_value) %></span>
							</div>
							<div class="bid_price">
								<p>Current Bid</p>
								<span></span>
							</div>
						</div><!-- price_wrapper -->
						<p>
							<a href="/lots/<%= lot.lot_number %>" class="btn btn-primary thumbnail_btn" role="button">Buy Now</a> 
							<a href="/lots/<%= lot.lot_number %>" class="btn btn-default thumbnail_btn" role="button">Join Auction</a>
						</p>
					</div><!-- caption -->
				</div><!-- thumbnail -->
			</div><!-- col-3 -->
			<% end %>
		</div><!-- row -->

		<%= will_paginate @lots, class: "digg_pagination", :previous_label => '<i class="fa fa-angle-left"></i>', :next_label => '<i class="fa fa-angle-right"></i>' %>
	</div><!-- container -->
</section><!-- thumbnail_area -->