<%= render :partial => "shared/search" %>
<%= render :partial => "filters" %>

<section class="thumbnail_area">
	<div class="container">
		<div class="row">
			<% @lots.each do | lot | %>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="thumbnail">
					<img class="img-responsive thumbnail_image" src="<%= thumbnail_large(lot.thumbnail) %>" >
					<div class="caption">
						<a href="/lots/<%= lot.lot_number %>" class="thumbnail-car-title" role="button"><%= lot.year %> <%= lot.make %> <%= lot.model_group %></a>
						<span><%= lot.state %> - <%= lot.city %></span>
						<span class="span-inline">Odometer: <%= number_with_delimiter(lot.odometer, :delimiter => ',') %></span>
						<span class="span-id">ID: <%= lot.lot_number %></span>
						<div class="price_wrapper">
							<div class="retail_price_home">
								<p>Retail Price</p>
								<span><%= number_to_currency(lot.est_retail_value) %></span>
							</div>
							<div class="bid_price_home">
								<p>Current Bid</p>
								<span><%= number_to_currency( Bid.highest_bid(lot.id)) %></span>
							</div>
						</div><!-- price_wrapper -->
						<p>
							<a href="/lots/<%= lot.lot_number %>" class="btn btn-primary thumbnail_btn" role="button">Buy Now</a> 
							<a href="/lots/<%= lot.lot_number %>" class="btn btn-default thumbnail_btn" role="button">Join Auction</a>
						</p>
					</div><!-- caption -->
				</div><!-- thumbnail -->
			</div><!-- col-3 -->
			<% end %>

			<% if @lots.count == 0 %>
			<div class="text-center">
				<img src="http://www.specialiststationery.com.sg/image/no_search.png" alt="">
				<h1>Try again</h1>
			</div>
			<% end %>
		</div><!-- row -->
	</div><!-- container -->
</section><!-- thumbnail_area -->
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<%= will_paginate @lots, class: "digg_pagination search-pagination", :previous_label => '<i class="fa fa-angle-left"></i>', :next_label => '<i class="fa fa-angle-right"></i>' %>
		</div><!-- col-12 -->
	</div><!-- row -->
</div><!-- container -->


