<p id="notice"><%= notice %></p>

<p>
  <strong>Yard number:</strong>
  <%= @admin_lot.yard_number %>
</p>

<p>
  <strong>Yard name:</strong>
  <%= @admin_lot.yard_name %>
</p>

<p>
  <strong>Sale date:</strong>
  <%= @admin_lot.sale_date %>
</p>

<p>
  <strong>Sale time:</strong>
  <%= @admin_lot.sale_time %>
</p>

<p>
  <strong>Item no:</strong>
  <%= @admin_lot.item_no %>
</p>

<p>
  <strong>Lot number:</strong>
  <%= @admin_lot.lot_number %>
</p>

<p>
  <strong>Vehicle type:</strong>
  <%= @admin_lot.vehicle_type %>
</p>

<p>
  <strong>Year:</strong>
  <%= @admin_lot.year %>
</p>

<p>
  <strong>Make:</strong>
  <%= @admin_lot.make %>
</p>

<p>
  <strong>Model group:</strong>
  <%= @admin_lot.model_group %>
</p>

<p>
  <strong>Model detail:</strong>
  <%= @admin_lot.model_detail %>
</p>

<p>
  <strong>Body style:</strong>
  <%= @admin_lot.body_style %>
</p>

<p>
  <strong>Color:</strong>
  <%= @admin_lot.color %>
</p>

<p>
  <strong>Damage description:</strong>
  <%= @admin_lot.damage_description %>
</p>

<p>
  <strong>Secondary damage:</strong>
  <%= @admin_lot.secondary_damage %>
</p>

<p>
  <strong>Sale title state:</strong>
  <%= @admin_lot.sale_title_state %>
</p>

<p>
  <strong>Sale title type:</strong>
  <%= @admin_lot.sale_title_type %>
</p>

<p>
  <strong>Has keys:</strong>
  <%= @admin_lot.has_keys %>
</p>

<p>
  <strong>Lot cond code:</strong>
  <%= @admin_lot.lot_cond_code %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @admin_lot.vin %>
</p>

<p>
  <strong>Odometer:</strong>
  <%= @admin_lot.odometer %>
</p>

<p>
  <strong>Odometer brand:</strong>
  <%= @admin_lot.odometer_brand %>
</p>

<p>
  <strong>Est retail value:</strong>
  <%= @admin_lot.est_retail_value %>
</p>

<p>
  <strong>Engine:</strong>
  <%= @admin_lot.engine %>
</p>

<p>
  <strong>Drive:</strong>
  <%= @admin_lot.drive %>
</p>

<p>
  <strong>Transmission:</strong>
  <%= @admin_lot.transmission %>
</p>

<p>
  <strong>Fuel type:</strong>
  <%= @admin_lot.fuel_type %>
</p>

<p>
  <strong>Cylinders:</strong>
  <%= @admin_lot.cylinders %>
</p>

<p>
  <strong>Runs drives:</strong>
  <%= @admin_lot.runs_drives %>
</p>

<p>
  <strong>Sale status:</strong>
  <%= @admin_lot.sale_status %>
</p>

<p>
  <strong>High bid:</strong>
  <%= @admin_lot.high_bid %>
</p>

<p>
  <strong>Special note:</strong>
  <%= @admin_lot.special_note %>
</p>

<p>
  <strong>City:</strong>
  <%= @admin_lot.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @admin_lot.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @admin_lot.zip %>
</p>

<p>
  <strong>Country:</strong>
  <%= @admin_lot.country %>
</p>

<p>
  <strong>Currency code:</strong>
  <%= @admin_lot.currency_code %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @admin_lot.thumbnail %>
</p>

<p>
  <strong>Cop created date:</strong>
  <%= @admin_lot.cop_created_date %>
</p>

<p>
  <strong>Grid rows:</strong>
  <%= @admin_lot.grid_rows %>
</p>

<p>
  <strong>Offer eligible:</strong>
  <%= @admin_lot.offer_eligible %>
</p>

<p>
  <strong>Buy now price:</strong>
  <%= @admin_lot.buy_now_price %>
</p>

<%= link_to 'Edit', edit_admin_lot_path(@admin_lot) %> |
<%= link_to 'Back', admin_lots_path %>
