 <!-- Basic Table -->
 <div class="row clearfix">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="card">
      <div class="header">
        Auctions
      </div>
      <div class="body table-responsive">

        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Yard name</th>
              <th>Lot number</th>
              <th>Vehicle type</th>
              <th>Year</th>
              <th>Make</th>
              <th>Model group</th>
              <th>Model detail</th>
              <th>Body style</th>
              <th>Color</th>
              <th>Vin</th>
              <th>Odometer</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @admin_lots.each do |admin_lot|  %>
            <% if admin_lot.bids.count > 0 %>
            <tr>
              <td><%= admin_lot.yard_name %></td>
              <td><%= admin_lot.lot_number %></td>
              <td><%= admin_lot.vehicle_type %></td>
              <td><%= admin_lot.year %></td>
              <td><%= admin_lot.make %></td>
              <td><%= admin_lot.model_group %></td>
              <td><%= admin_lot.model_detail %></td>
              <td><%= admin_lot.body_style %></td>
              <td><%= admin_lot.color %></td>
              <td><%= admin_lot.vin %></td>
              <td><%= admin_lot.odometer %></td>
              <td><%= link_to 'Show', admin_lot %></td>
              <td><%= link_to 'Edit', edit_admin_lot_path(admin_lot) %></td>
              <td><%= link_to 'Destroy', admin_lot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
            <!-- #END# Basic Table -->