<%= render :partial => "shared/search" %>
<form action="search" method="GET">
<section class="slider-area">
	<div class="container">
		<div class="row">
			<div class="col-md-3 f_right">
				<div class="form-container">
					<h3>Vehicle Finder</h3>
					<div class="form-input">
						<h4>Make</h4>
						<select class="selectpicker form-control" data-size="5" name="make">
							<option value="">Select Make</option>
							<% @makes = Lot.uniq.pluck(:make) %>
							<% @makes.each do | make | %>
							<option value="<%= make %>"><%= make %></option>
							<% end %>
						</select>
					</div><!-- form-input -->
					<div class="form-input">
						<h4>Year</h4>
						<input class="form-control" type="search" placeholder="eg: 2005" name="year">
					</div><!-- form-input -->
					<div class="form-input">
						<h4>Color</h4>
						<select class="selectpicker form-control" data-size="5" name="color">
							<option value="">Select Color</option>
							<% @colors = Lot.uniq.pluck(:color) %>
							<% @colors.each do | color | %>
							<option value="<%= color %>"><%= color %></option>
							<% end %>
						</select>
					</div><!-- form-input -->
					<div class="form-input">
						<h4>Body Style</h4>
						<select class="selectpicker form-control" data-size="5" name="body_style">
							<option value="">Select Body Style</option>
							<% @body_styles = Lot.uniq.pluck(:body_style) %>
							<% @body_styles.each do | body_style | %>
							<option value="<%= body_style %>"><%= body_style %></option>
							<% end %>
						</select>
					</div><!-- form-input -->
					<div class="form-input">
						<h4>Location</h4>
						<div class="btn-group" id="status" data-toggle="buttons">
			            	<label class="btn btn-default btn-on btn-md active">
			            	<input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">All Location</label>
			            	<label class="btn btn-default btn-off btn-md ">
			            	<input type="radio" value="0" name="multifeatured_module[module_id][status]">Custom</label>
			            </div>
						<select class="selectpicker form-control" data-size="5" name="state">
							<option value="">Select State</option>
							<% @states = Lot.uniq.pluck(:state) %>
							<% @states.each do | state | %>
							<option value="<%= state %>"><%= state %></option>
							<% end %>
						</select>
					</div><!-- form-input -->
					<button type="submit">Search</button>
				</div><!-- form-container -->
			</div><!-- col-3 -->
			<div class="col-md-9 f_left">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				</ol>
			  	<!-- Wrapper for slides -->
			  	<div class="carousel-inner" role="listbox">
			    	<div class="item active">
			      		<img class="img-responsive" src="<%= asset_path('slider-img-3')%>" alt="...">
			      		<div class="carousel-caption">
					        <h2>2008 FORD CROWN VIC</h2>
					        <h4>Current Bid: $4000</h4>
					        <h4>Buy Price: $6500</h4>
				      	</div>
			    	</div>
			    	<div class="item">
			      		<img class="img-responsive" src="<%= asset_path('slider-img-3')%>" alt="...">
			      		<div class="carousel-caption">
					        <h2>2008 FORD CROWN VIC</h2>
					        <h4>Current Bid: $4000</h4>
					        <h4>Buy Price: $6500</h4>
				      	</div>
			    	</div>
			    	<div class="item">
			      		<img class="img-responsive" src="<%= asset_path('slider-img-3')%>" alt="...">
			      		<div class="carousel-caption">
					        <h2>2008 FORD CROWN VIC</h2>
					        <h4>Current Bid: $4000</h4>
					        <h4>Buy Price: $6500</h4>
				      	</div>
			    	</div>
			  	</div>
			  	<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
				</div>
				<div class="cars_arrival thumbnail_area">
					<div class="panel panel-default">
				  		<div class="panel-heading">
					    	<h3 class="panel-title" style="color: #fff;">NEWEST ARRIVAL</h3>
					  	</div>
					  	<div class="panel-body ">
					  		<% @lots.each do | lot | %>
					    	<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="thumbnail">
									<img class="img-responsive thumbnail_image" src="<%= thumbnail_large(lot.thumbnail) %>" >
									<div class="caption">
										<a href="/lots/<%= lot.lot_number %>" class="thumbnail-car-title" role="button"><%= lot.year %> <%= lot.make %> <%= lot.model_group %></a>
										<span>OH - COLUMBUS  - B / CD001</span>
										<span class="span-inline">Odometer: <%= number_with_delimiter(lot.odometer, :delimiter => ',') %></span>
										<span class="span-id">ID: <%= lot.lot_number %></span>
										<div class="price_wrapper">
											<div class="retail_price_home">
												<p>Retail Price</p>
												<span><%= number_to_currency(lot.est_retail_value) %></span>
											</div>
											<div class="bid_price_home">
												<p>Current Bid</p>
												<span><%= number_to_currency( Bid.highest_bid(lot.id)) %></span>
											</div>
										</div><!-- price_wrapper -->
										<p>
											<a href="/lots/<%= lot.lot_number %>" class="btn btn-primary thumbnail_btn" role="button">Buy Now</a> 
											<a href="/lots/<%= lot.lot_number %>" class="btn btn-default thumbnail_btn" role="button">Join Auction</a>
										</p>
									</div><!-- caption -->
								</div><!-- thumbnail -->
							</div><!-- col-3 -->

					    	<% end %>
					  	</div><!-- panel body -->
					</div><!-- panel default -->
				</div>



				
			</div><!-- col-9 -->
		</div><!-- row -->
	</div><!-- container -->
</section><!-- slider-area -->

<section class="why-mitsab">
	<div class="container-fluid">
		<div class="row row_flex">
			<div class="col-md-6 hidden-sm hidden-xs text_image right-padding" style="background-image:url(assets/wy-mitsab.jpg); ">
				
			</div><!-- col-6 -->
			<div class="col-md-offset-1 col-md-4 pad-left col-xs-12">
				<div class="detail">
					<h2>WHY MITSAB</h2>
				
					<p>The best thing about MITSAB that makes it stand out among other car auction platforms is that you don’t have to worry abvout anything, neither the shipment of your car, nor about the hassle to manage the whole delivery process. At MITSAB you get the best cars on auction display with the least lead time as per industry standards.</p>
					<h5><a href="/why_mitsab">READ MORE <i class="fa fa-arrow-right" aria-hidden="true"></i></a></h5>
				</div><!-- detail -->
			</div><!-- col-6 -->
		</div><!-- row -->
		<div class="row row_flex">
			
			<div class="col-md-offset-1 col-md-4 col-xs-12">
				<div class="detail">
					<h2>ABOUT US</h2>
				
					<p>Mitsab Inc. envisions the growth of developing countries and increased awareness of resource saving, the needs of used automobiles have been and will be becoming greater and greater. Our worldwide services will assist and promote your business according to the global trends in automobile retail sector.</p>
					<h5><a href="/about">READ MORE <i class="fa fa-arrow-right" aria-hidden="true"></i></a></h5>
				</div><!-- detail -->
			</div><!-- col-6 -->
			
			<div class="col-md-6 col-md-offset-1 hidden-sm hidden-xs text_image right-padding" style="background-image:url(assets/about-us.jpg);">
				
			</div><!-- col-6 -->
		</div><!-- row -->
	</div><!-- container -->
</section><!-- why-mitsab -->
</form>

