<%= render :partial => "shared/search" %>
<section class="slider-area">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				</ol>
			  	<!-- Wrapper for slides -->
			  	<div class="carousel-inner" role="listbox">
			    	<div class="item active">
			      		<img class="img-responsive" src="<%= asset_path('slider-img-1')%>" alt="...">
			    	</div>
			  	</div>
			  	<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
				</div>
			</div><!-- col-9 -->
			<div class="col-md-3">
				<div class="form-container">
					<h3>Vehicle Finder</h3>
					<div class="form-input">
						<h4>Car Type</h4>
						<select class="form-control" data-size="5" >
						    <option>Mustard1</option>
						    <option>Ketchup</option>
						    <option>Relish</option>
						    <option>Mayonnaise</option>
						    <option>Barbecue Sauce</option>
						    <option>Salad Dressing</option>
						    <option>Tabasco</option>
						    <option>Salsa</option>
					    </select>
					</div><!-- form-input -->
					<div class="form-input">
						<h4>Year</h4>
						<input class="form-control" type="search" placeholder="From">
						<input class="form-control" type="search" placeholder="To">
					</div><!-- form-input -->
					<div class="form-input">
						<h4>Make</h4>
						<select class="form-control" data-size="5" >
						    <option>Mustard1</option>
						    <option>Ketchup</option>
						    <option>Relish</option>
						    <option>Mayonnaise</option>
						    <option>Barbecue Sauce</option>
						    <option>Salad Dressing</option>
						    <option>Tabasco</option>
						    <option>Salsa</option>
					    </select>
					</div><!-- form-input -->
					<div class="form-input">
						<h4>Model</h4>
						<select class="form-control" data-size="5" >
						    <option>Mustard1</option>
						    <option>Ketchup</option>
						    <option>Relish</option>
						    <option>Mayonnaise</option>
						    <option>Barbecue Sauce</option>
						    <option>Salad Dressing</option>
						    <option>Tabasco</option>
						    <option>Salsa</option>
					    </select>
					</div><!-- form-input -->
					<div class="form-input">
						<h4>Location</h4>
						<div class="btn-group" id="status" data-toggle="buttons">
			            	<label class="btn btn-default btn-on btn-md active">
			            	<input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">All Location</label>
			            	<label class="btn btn-default btn-off btn-md ">
			            	<input type="radio" value="0" name="multifeatured_module[module_id][status]">Near Me</label>
			            </div>
						<select class="form-control" data-size="5" >
						    <option>Mustard1</option>
						    <option>Ketchup</option>
						    <option>Relish</option>
						    <option>Mayonnaise</option>
						    <option>Barbecue Sauce</option>
						    <option>Salad Dressing</option>
						    <option>Tabasco</option>
						    <option>Salsa</option>
					    </select>
					</div><!-- form-input -->
					<a href="#">Search</a>
				</div><!-- form-container -->
			</div><!-- col-3 -->
		</div><!-- row -->
	</div><!-- container -->
</section><!-- slider-area -->
<section class="cars_arrival">
	<div class="container">
		<div class="row">
			<div class="panel panel-default">
		  		<div class="panel-heading">
			    	<h3 class="panel-title">NEWEST ARRIVAL</h3>
			  	</div>
			  	<div class="panel-body ">
			  		<% @lots.each do | lot | %>
			    	<div class="col-md-3 col-sm-6 col-xs-12">
			    		<div class="thumbnail">
						    <img class="img-responsive" src="<%= thumbnail_large(lot.thumbnail) %>" >
						    <div class="caption">
						    	<h3><%= lot.year %> <%= lot.make %> <%= lot.model_group %></h3>
						    	<div class="price_wrapper">
						    		<div class="retail_price">
						    			<p>Total Bids:</p>
						    			<span>412 Bids</span>
						    		</div>
						    		<div class="bid_price">
						    			<p>Car Year:</p>
						    			<span><%= lot.year %></span>
						    		</div>
						    	</div><!-- price_wrapper -->
						    	<div class="price_wrapper">
						    		<div class="retail_price">
						    			<p>Car Mileage:</p>
						    			<span><%= lot.odometer %></span>
						    		</div>
						    		<div class="bid_price">
						    			<p>Current Bid</p>
						    			<span>$8,015</span>
						    		</div>
						    	</div><!-- price_wrapper -->
						    	<div class="price_wrapper">
						    		<div class="retail_price">
						    			<p>Buy Price</p>
						    			<span>$6000</span>
						    		</div>
						    	</div><!-- price_wrapper -->
						    	<p>
						    		<a href="/lots/<%= lot.lot_number %>" class="btn btn-primary thumbnail_btn" role="button"><i class="fa fa-gavel" aria-hidden="true"></i> BID NOW</a> 
						    		<a href="/lots/<%= lot.lot_number %>" class="btn btn-default thumbnail_btn" role="button"><i class="fa fa-money" aria-hidden="true"></i> Buy NOW</a>
						    	</p>
						    </div><!-- caption -->
					    </div><!-- thumbnail -->
			    	</div><!-- col-3 -->
			    	<% end %>
			  	</div><!-- panel body -->
			</div><!-- panel default -->
		</div><!-- row -->

	</div><!-- container -->
</section><!-- cars_arrival -->
<section class="why-mitsab">
	<div class="container">
		<div class="row">
			<div class="col-md-6 right-padding">
				<img class="img-responsive" src="<%= asset_path('wy-mitsab')%>">
			</div><!-- col-6 -->
			<div class="col-md-6 ">
				<div class="detail">
					<h2>WHY MITSAB</h2>
				
					<p>Compellingly expedite standards compliant convergence and client-centric metrics. Dynamically pontificate functional synergy rather than resource sucking potentialities. Professionally formulate plug-and-play imperatives vis-a-vis accurate technology. Intrinsicly maximize cross-media experiences rather than intuitive strategic theme areas. Distinctively reinvent.</p>
					<h5><a href="">READ MORE <i class="fa fa-arrow-right" aria-hidden="true"></i></a></h5>
				</div><!-- detail -->
			</div><!-- col-6 -->
		</div><!-- row -->
		<div class="row">
			<div class="col-md-6 left-padding">
				<img class="img-responsive" src="<%= asset_path('about-us')%>">
			</div><!-- col-6 -->
			<div class="col-md-6">
				<div class="detail">
					<h2>ABOUT US</h2>
				
					<p>Compellingly expedite standards compliant convergence and client-centric metrics. Dynamically pontificate functional synergy rather than resource sucking potentialities. Professionally formulate plug-and-play imperatives vis-a-vis accurate technology. Intrinsicly maximize cross-media experiences rather than intuitive strategic theme areas. Distinctively reinvent.</p>
					<h5><a href="">READ MORE <i class="fa fa-arrow-right" aria-hidden="true"></i></a></h5>
				</div><!-- detail -->
			</div><!-- col-6 -->
			
			
		</div><!-- row -->
	</div><!-- container -->
</section><!-- why-mitsab -->
