<%= render :partial => "shared/search" %>
<section class="slider-area">
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				</ol>
			  	<!-- Wrapper for slides -->
			  	<div class="carousel-inner" role="listbox">
			    	<div class="item active">
			      		<img class="img-responsive" src="<%= asset_path('slider-img-3')%>" alt="...">
			      		<div class="carousel-caption">
					        <h2>2008 FORD CROWN VIC</h2>
					        <h4>Current Bid: $4000</h4>
					        <h4>Buy Price: $6500</h4>
				      	</div>
			    	</div>
			  	</div>
			  	<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
				</div>
				<div class="cars_arrival thumbnail_area">
					<div class="panel panel-default">
				  		<div class="panel-heading">
					    	<h3 class="panel-title" style="color: #fff;">NEWEST ARRIVAL</h3>
					  	</div>
					  	<div class="panel-body ">
					  		<% @lots.each do | lot | %>
					    	<div class="col-md-4 col-sm-6 col-xs-12">
								<div class="thumbnail">
									<img class="img-responsive" src="<%= thumbnail_large(lot.thumbnail) %>" >
									<div class="caption">
										<a href="/lots/<%= lot.lot_number %>" class="thumbnail-car-title" role="button"><%= lot.year %> <%= lot.make %> <%= lot.model_group %></a>
										<span>OH - COLUMBUS  - B / CD001</span>
										<span class="span-inline">Odometer: <%= number_with_delimiter(lot.odometer, :delimiter => ',') %></span>
										<span class="span-id">ID: <%= lot.lot_number %></span>
										<div class="price_wrapper">
											<div class="retail_price_home">
												<p>Retail Price</p>
												<span><%= number_to_currency(lot.est_retail_value) %></span>
											</div>
											<div class="bid_price_home">
												<p>Current Bid</p>
												<span><%= number_to_currency( Bid.highest_bid(lot.id)) %></span>
											</div>
										</div><!-- price_wrapper -->
										<p>
											<a href="/lots/<%= lot.lot_number %>" class="btn btn-primary thumbnail_btn" role="button">Buy Now</a> 
											<a href="/lots/<%= lot.lot_number %>" class="btn btn-default thumbnail_btn" role="button">Join Auction</a>
										</p>
									</div><!-- caption -->
								</div><!-- thumbnail -->
							</div><!-- col-3 -->
					    	<% end %>
					  	</div><!-- panel body -->
					</div><!-- panel default -->
				</div>

				
			</div><!-- col-9 -->

			<div class="col-md-3">
				<div class="form-container">
					<h3>Vehicle Finder</h3>
					<div class="form-input">
						<h4>Car Type</h4>
						<select class="form-control" data-size="5" >
						    <option>Mustard1</option>
						    <option>Ketchup</option>
						    <option>Relish</option>
						    <option>Mayonnaise</option>
						    <option>Barbecue Sauce</option>
						    <option>Salad Dressing</option>
						    <option>Tabasco</option>
						    <option>Salsa</option>
					    </select>
					</div><!-- form-input -->
					<div class="form-input">
						<h4>Year</h4>
						<input class="form-control price-from" type="search" placeholder="From">
						<input class="form-control price-to" type="search" placeholder="To">
					</div><!-- form-input -->
					<div class="form-input">
						<h4>Make</h4>
						<select class="form-control" data-size="5" >
						    <option>Mustard1</option>
						    <option>Ketchup</option>
						    <option>Relish</option>
						    <option>Mayonnaise</option>
						    <option>Barbecue Sauce</option>
						    <option>Salad Dressing</option>
						    <option>Tabasco</option>
						    <option>Salsa</option>
					    </select>
					</div><!-- form-input -->
					<div class="form-input">
						<h4>Model</h4>
						<select class="form-control" data-size="5" >
						    <option>Mustard1</option>
						    <option>Ketchup</option>
						    <option>Relish</option>
						    <option>Mayonnaise</option>
						    <option>Barbecue Sauce</option>
						    <option>Salad Dressing</option>
						    <option>Tabasco</option>
						    <option>Salsa</option>
					    </select>
					</div><!-- form-input -->
					<div class="form-input">
						<h4>Location</h4>
						<div class="btn-group" id="status" data-toggle="buttons">
			            	<label class="btn btn-default btn-on btn-md active">
			            	<input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">All Location</label>
			            	<label class="btn btn-default btn-off btn-md ">
			            	<input type="radio" value="0" name="multifeatured_module[module_id][status]">Near Me</label>
			            </div>
						<select class="form-control" data-size="5" >
						    <option>Mustard1</option>
						    <option>Ketchup</option>
						    <option>Relish</option>
						    <option>Mayonnaise</option>
						    <option>Barbecue Sauce</option>
						    <option>Salad Dressing</option>
						    <option>Tabasco</option>
						    <option>Salsa</option>
					    </select>
					</div><!-- form-input -->
					<a href="#">Search</a>
				</div><!-- form-container -->
			</div><!-- col-3 -->
		</div><!-- row -->
	</div><!-- container -->
</section><!-- slider-area -->

<section class="why-mitsab">
	<div class="container-fluid container_full">
		<div class="row">
			<div class="col-md-6 right-padding">
				<img class="img-responsive img-left" src="<%= asset_path('wy-mitsab')%>">
			</div><!-- col-6 -->
			<div class="col-md-6 ">
				<div class="detail">
					<h2>WHY MITSAB</h2>
				
					<p>The best thing about MITSAB that makes it stand out among other car auction platforms is that you don’t have to worry abvout anything, neither the shipment of your car, nor about the hassle to manage the whole delivery process. At MITSAB you get the best cars on auction display with the least lead time as per industry standards.</p>
					<h5><a href="/about">READ MORE <i class="fa fa-arrow-right" aria-hidden="true"></i></a></h5>
				</div><!-- detail -->
			</div><!-- col-6 -->
		</div><!-- row -->
		<div class="row">
			<div class="col-md-6 left-padding">
				<img class="img-responsive img-right" src="<%= asset_path('about-us')%>">
			</div><!-- col-6 -->
			<div class="col-md-6">
				<div class="detail">
					<h2>ABOUT US</h2>
				
					<p>Mitsab Inc. envisions the growth of developing countries and increased awareness of resource saving, the needs of used automobiles have been and will be becoming greater and greater. Our worldwide services will assist and promote your business according to the global trends in automobile retail sector.</p>
					<h5><a href="/about">READ MORE <i class="fa fa-arrow-right" aria-hidden="true"></i></a></h5>
				</div><!-- detail -->
			</div><!-- col-6 -->
			
			
		</div><!-- row -->
	</div><!-- container -->
</section><!-- why-mitsab -->



<!-- <section class="why-mitsab">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 right-padding">
				<img class="img-responsive pull-left" src="<%= asset_path('wy-mitsab')%>">
			</div>
			<div class="col-md-6 ">
				<div class="detail">
					<h2>WHY MITSAB</h2>
				
					<p>Compellingly expedite standards compliant convergence and client-centric metrics. Dynamically pontificate functional synergy rather than resource sucking potentialities. Professionally formulate plug-and-play imperatives vis-a-vis accurate technology. Intrinsicly maximize cross-media experiences rather than intuitive strategic theme areas. Distinctively reinvent.</p>
					<h5><a href="/about">READ MORE <i class="fa fa-arrow-right" aria-hidden="true"></i></a></h5>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 left-padding">
				<img class="img-responsive pull-right" src="<%= asset_path('about-us')%>">
			</div>
			<div class="col-md-6">
				<div class="detail">
					<h2>ABOUT US</h2>
				
					<p>Compellingly expedite standards compliant convergence and client-centric metrics. Dynamically pontificate functional synergy rather than resource sucking potentialities. Professionally formulate plug-and-play imperatives vis-a-vis accurate technology. Intrinsicly maximize cross-media experiences rather than intuitive strategic theme areas. Distinctively reinvent.</p>
					<h5><a href="/about">READ MORE <i class="fa fa-arrow-right" aria-hidden="true"></i></a></h5>
				</div>
			</div>
			
			
		</div>
	</div>
</section> -->