<!DOCTYPE html>
<html>
<head>
	<title>Mitsab</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all'%>
	<%= javascript_include_tag 'application' %>
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<script>
  (function(d) {
    var config = {
      kitId: 'aql5eka',
      scriptTimeout: 3000,
      async: false
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=false;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>


</head>
<body>
	<section class="logo-nav">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">
				<%= link_to(root_path) do %>
				<img src="<%= asset_path('logoNew')%>" alt="">
				<% end %>
				</div><!-- col-sm-6 -->
				<div class="col-sm-6">
					<ul class="list-inline">
						<% unless user_signed_in? %>
						<li><a class="header_buttons" href="/users/sign_up">Register</a></li>
						<li><a class="header_buttons" href="/users/sign_in">Sign In</a></li>
						<% else %>
						<li>
              <%= link_to('
              
              Logout'.html_safe, destroy_user_session_path, :method => :delete) %>
            </li>
            <% end %>
					</ul>
				</div><!-- col-sm-6 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- logo-nav -->

	<section class="site-nav affix affix-menu" data-spy="affix" data-offset-top="100">
		<div class="container-fluid">
			<div class="row" id="margin-menu">
				<div class="col-md-9">
					<ul class="list-inline"  id="menu">
						<li><a href="/search">Find a Car </a></li>
						<li><a href="/search">Auction</a></li>
						<li><a href="/whyMitsab">Why Mitsab</a></li>
						<li><a href="">How to Buy</a></li>
						<li><a href="/contact">Contact </a></li>
						<li><a href="/about">About Us</a></li>
						<% unless user_signed_in? %>
						<li><a class="header_responsive_button" href="/users/sign_up">Register</a></li>
						<li><a class="header_responsive_button" href="/users/sign_in">Sign In</a></li>
						<% else %>
						<li>
              <%= link_to('
              
              Logout'.html_safe, destroy_user_session_path, :method => :delete) %>
            </li>
            <% end %>
					</ul>
				</div><!-- col-9 -->
				<div class="col-md-3">
					<ul class="list-inline pull-right">
						<li class="sale-vehicle">Vehicles on<br>sale now!</li>
						<li class="sale-vehicle-num">126,478</li>
					</ul>
				</div><!-- col-3 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- site-nav -->
	<%= yield %>
	<section class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-xs-12">
					<h1>mitsab</h1>
					<p>Seamlessly grow enterprise expertise for backward-compatible schemas. Rapidiously provide access to virtual internal or. Rapidiously provide access to virtual internal or.</p>
					<a class="footer-sign_up" href="/users/sign_up">Register</a>
				</div><!-- col-4 -->
				<div class="col-md-2 col-sm-6">
					<ul>
						<li><a href="">Home</a></li>
						<li><a href="">Find a car</a></li>
						<li><a href="">Auction</a></li>
						<li><a href="">Why Mitsab</a></li>
						<li><a href="">How to Buy</a></li>
						<li><a href="">Contact Us</a></li>
						<li><a href="">About Us</a></li>
					</ul>
				</div><!-- col-2 -->
				<div class="col-md-2 col-sm-6">
					<ul>
						<li><a href="">Home</a></li>
						<li><a href="">Find a car</a></li>
						<li><a href="">Auction</a></li>
						<li><a href="">Why Mitsab</a></li>
						<li><a href="">How to Buy</a></li>
						<li><a href="">Contact Us</a></li>
						<li><a href="">About Us</a></li>
					</ul>
				</div><!-- col-2 -->
				<div class="col-md-2 col-sm-6">
					<ul>
						<li><a href="">Home</a></li>
						<li><a href="">Find a car</a></li>
						<li><a href="">Auction</a></li>
						<li><a href="">Why Mitsab</a></li>
						<li><a href="">How to Buy</a></li>
						<li><a href="">Contact Us</a></li>
						<li><a href="">About Us</a></li>
					</ul>
				</div><!-- col-2 -->
				<div class="col-md-2 col-sm-6">
					<p>Get Social</p>
					<ol class="list-inline">
						<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
					</ol>
				</div><!-- col-2 -->
			</div><!-- row -->

			<div class="row">
				<div class="col-md-12">
					<p class="text-center copyright">Copyright © 2016 Mitsab. All rights reserved. </p>
				</div><!-- col-12 -->
			</div><!-- row -->
		</div><!-- container -->
	</section>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SlickNav/1.0.10/jquery.slicknav.min.js" type="text/javascript">
</script>




<script type="text/javascript">
$(document).ready(function() {
var limit =$('.logo-nav').height() + $('.site-nav').height() + $('.banner').height();
var exceed_limit = ($('body').height()) - (limit + 1165);

   $(window).scroll(function() {
       var scrollVal = $(this).scrollTop();

        if(scrollVal > limit)
        {
        	$(".form-container").addClass("fixed_form");
        	if(scrollVal > exceed_limit)
        	{
        		$(".form-container").addClass("unfix_form");	
        	}else{
        		$(".form-container").removeClass("unfix_form");
        	}
        }
        else {
        	 $(".form-container").removeClass("fixed_form");
        }            
    });
   
 });
</script>
</html>